/* tracking.css */

/* Contenedor general */
.tracking-container {
    width: 98%;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}

/* Header */
.tracking-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    padding-bottom: 40px;
    border-bottom: 2px solid #000;
}

/* Código de remito */
.tracking-code {
    font-size: 24px;
    color: #007BFF;
}

/* Meta (fecha + destino) */
.tracking-meta {
    text-align: right;
    font-size: 16px;
    color: #555;
}
.tracking-meta div {
    margin-bottom: 8px;
    
}


.tracking-items table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;      /* ↑ separación sobre el borde */
    margin-bottom: 80px;   /* separación bajo la tabla */
    table-layout: auto;
  
  
}



/* Padding razonable en todas las celdas */
.tracking-items th,
.tracking-items td {
    border: 1px solid #ddd;
    padding: 14px 80px;
    text-align: left;
    white-space: nowrap;
}

/* Hacemos más grande sólo la columna DESCRIPCIÓN (segunda columna) */
.tracking-items th:nth-child(2),
.tracking-items td:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
}

/* Encabezados */
.tracking-items th {
    background: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Celdas normales */
.tracking-items td {
    font-size: 15px;
    color: #444;
}

/* Footer con campos de firma etc. */
.tracking-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;          /* espacio arriba del footer */
    padding-top: 20px;         /* espacio interior superior */
    border-top: 2px solid #000000;/* línea divisoria */
}


.footer-field {
    flex: 1 1 45%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.footer-field label {
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
    font-size: 15px;
}

.footer-line {
    height: 1px;
    background: #333;
    margin-top: 20px;
}

/* Al imprimir solo este bloque */
@media print {
    body * {
        visibility: hidden;
    }

    .tracking-container,
    .tracking-container * {
        visibility: visible;
    }

    .tracking-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: none;
        border: none;
    }
}
